 {% load static %}
     <div class="sidebar w-25  container d-none d-lg-block">
            <div class="row pt-0 mt-0"  >
                <div class="col-12 p-3 pt-0 mt-0">
                    <a href="#"  class="   text-center ">
                     <img src="{% static 'images/profile_images/sample.png' %}" class="p-2" width="70px"/>
                <h6  class="p-3 shadow col-12 rounded-50">Muhammad Usama<br><small class="badge text-pink">mu63668@gmail.com</small></h6>
                 </a>

                </div>
                 <div class="col-12 pt-0 mt-0 row">
                     <a href="#" class="p-3 shadow  ml-3 col-12 rounded-50"><img src="{% static 'images/coin/coin.svg' %}"  class="mr-3" width="30px"/>2345678</a>

                </div>


                     <div class="col-12 pt-0 mt-3 text-left">
                     <a href="#" class="myButton-nooutline btn-lg  btn-block col-12"><i class="fa fa-magic fa-1x  mr-2"></i>  Discover New People</a>
                 </div>

                     <div class="col-12 pt-0  text-left">
                     <a href="#" class="myButton-nooutline btn-lg  btn-block col-12"><i class="fa fa-envelope  fa-1x  mr-2"></i>  Message</a>
                 </div>

                     <div class="col-12 pt-2  text-left">
                     <a href="#" class="myButton-nooutline btn-lg  btn-block col-12"><i class="fa fa-cog fa-1x  mr-3"></i> Settings</a>
                 </div>
  <div class="col-12 pt-2  text-left">
                     <a href="#" class="myButton-nooutline btn-lg  btn-block col-12"><i class="fa fa-question-circle fa-1x  mr-3"></i> Help and Support</a>
                 </div>
 <div class="col-12 pt-2   text-left">
                     <a href="#" class="myButton-nooutline btn-lg  btn-block col-12"><i class="fa fa-bug fa-1x  mr-3"></i>  Report a Problem</a>
                 </div>

                <div class="col-12 p-3 pt-0 mt-2">
                     <a href="#" class="myButton   btn-block col-12"><i class="fa fa-user-plus fa-1x  mr-3"></i> Invite Friend</a>
                 </div>

                <div class="col-12  pt-0 ">
                     <a href="#" class="myButton   btn-block col-12"><i class="fa fa-handshake-o  mr-3" aria-hidden="true"></i>Contribute</a>
                 </div>

            </div>

    </div>
  