{% extends 'base.html' %}
{% load static %}
{% block loginPage %}
<div class="col-md-6 col-sm-12 d-none d-md-block p-0 m-0" style="background-image:url({% static 'images/login_cover/login_cover.jpg' %});background-size:cover;background-repeat:no-repeat;">
   <img src="  " width="100%"/>
</div>
<div class="col-md-6 col-sm-12 p-4 " id="login_form">
    <form action="login" method="POST" id="login" enctype="multipart/form-data " class=" pl-5 pr-5 pb-4 pt-3 mt-3 card curve shadow-lg text-center col-md-10 col-sm-12 offset-md-1">
       <img src="{% static 'images/logo/colabbar_logo.svg' %}  " width="250px" class="rounded mx-auto d-block p-4"/>
        <h4 class="text-pink"> Welcome Back </h4>
        <h6 class="text-primary pb-2"> Sign in Now</h6>

                     {% csrf_token %}


                <div class="form-group">
                     <input type="email" class="" id="email_login"  name="email" placeholder="Email" onfocus="chk_email();"      >
                    <p id="useremail_error_login" class="small  alert alert-danger col-12 mt-3 mb-0 badge text-danger show-hover"  ></p>
                    </div>

                   <div class="form-group">
                     <input type="password" class="" id="password"  name="password" placeholder="Password" >
                       <div class="row pl-3 pr-3 pb-0 mb-0 pt-2">
                        <span class=" small text-left col-6 badge text-primary show-hover" id="forgetpass"><a >Forget Password?</a></span>
                        <span class=" small text-right col-6 badge text-primary show-hover" id="showhover"  onclick="myFunction();">show</span>

                       </div>

                      </div>


                    <div class="form-group">
                        <div  id="btns"><input type="" class="disable_btn" id="logins"  name="login" Value="Sign In" ></div>
                        <div  id="btns2"></div>


                    </div>
                   <span class=" h6   text-dark ">Don't have Account? <a class=" text-primary" href="{% url 'register' %}">Sign up</a></span>
                </form>
</div>

<div class="col-md-6 col-sm-12 p-4 " id="reset_password" style="display:none;">
    <form action="forgetPass-link" method="POST" id="send_forgetPass_link" enctype="multipart/form-data " class=" pl-5 pr-5 pb-4 pt-3 mt-3 card curve shadow-lg text-center col-md-10 col-sm-12 offset-md-1">
       <img src="{% static 'images/logo/colabbar_logo.png' %}  " width="250px" class="rounded mx-auto d-block p-4"/>
        <h4 class="text-pink"> Forget Password? </h4>
        <h6 class="text-primary pb-2">Type your Email</h6>

                     {% csrf_token %}


                <div class="form-group">
                     <input type="email" class="" id="email_verify"  name="email_verify" placeholder="Email" onfocus="chk_email();"      >
                      <span class=" small text-left col-12 mt-3 badge text-primary show-hover" id="Go_Back_to_Login"><a >Go Back to Login Area</a></span>
                    <p id="useremail_error_verify" class="small  alert alert-danger col-12 mt-3 mb-0 badge text-danger show-hover"  ></p>
                    </div>




                    <div class="form-group">
                        <div  id="btns"><input type="" class="disable_btn" id="send_forgetPass"  name="send_forgetPass" Value="Send Verify Link" ></div>
                        <div  id="btns2"></div>


                    </div>
                   <span class=" h6   text-dark ">Don't have Account? <a class=" text-primary" href="{% url 'register' %}">Sign up</a></span>
                </form>
</div>


    {% endblock %}


