{% extends 'base.html' %}
{% load static %}
{% block loginPage %}
<div class="col-md-6 col-sm-12 d-none d-md-block p-0 m-0" style="background-image:url({% static 'images/login_cover/login_cover.jpg' %});background-size:cover;background-repeat:no-repeat;">
   <img src="  " width="100%"/>
</div>
<div class="col-md-6 col-sm-12 p-4 " id="datapass" >
    <form action="javascript:void(0);" method="POST" enctype="multipart/form-data " class=" pl-5 pr-5 pb-4 pt-3 mt-3 card curve shadow-lg text-center col-md-10 col-sm-12 offset-md-1">
       <img src="{% static 'images/logo/colabbar_logo.png' %}  " width="250px" class="rounded mx-auto d-block p-4"/>

        <h4 class="text-pink">Welcome back<br>
           </h4> <span class=" badge ">{{ email }}</span>
        <h6 class="text-primary pb-2">Type New Password </h6>

                     {% csrf_token %}


                <div class="form-group">
                     <input type="email" class="" id="fp_email"  name="fp_email" value="{{ email }}" disabled style="display:none;">
                    <p id="useremail_error" class="small  alert alert-danger col-12 mt-3 mb-0 badge text-danger show-hover"  ></p>
                    </div>

                   <div class="form-group">
                     <input type="password" class="" id="fp_password"  name="fp_password" placeholder="Type your New Password"   onkeyup="passwordChanged('typenewpass');" >
                       <div class="row pl-3 pr-3 pb-0 mb-0 pt-2">
                        <span class=" small text-left col-6  badge text-dark  show-hover" >strength :<span id="strength" class="text-danger">Weak </span> </span>
                        <span class=" small text-right col-6 badge text-primary show-hover" id="showhover"  onclick="myFunction();">show</span>

                       </div>

                      </div>


                    <div class="form-group " >
                     <input class="disable_btn" id="UpdatePassword"  name="UpdatePassword" Value="Update Password" >

                    </div>
                   <span class=" h6   text-dark ">Already have an account? <a class=" text-primary" href="{% url 'login' %}">login</a></span>
                </form>
</div>



<div class="col-sm-12 col-md-6 p-4 " id="datapassupdate" style="display:none;">
    <div class=" pl-5 pr-5 pb-4 pt-5 mt-5 card curve shadow-lg text-center col-md-10 col-sm-12 offset-md-1">
       <img src="{% static 'images/logo/colabbar_logo.svg' %}  " width="250px" class="rounded mx-auto d-block p-4"/>

        <h4 class="text-success">
<i class="fa fa-check fa-3x m-3  border-success" ></i><br>
            Password Updated</h4>



                   <span class=" h6   text-dark ">Go to <a class=" text-primary" href="{% url 'login' %}">login</a> Area</span>
                </div>
</div>
    {% endblock %}

